
<div class="dashboard">
	<aside class="search-wrap">
		<div class="search">
			<header class="content-head">
                <h1 style="color: #d4cf3f;">PRODUCT DETAILS</h1>
                    
                <div class="action">
                    
                </div>
            </header>
		</div>
		
		<div class="user-actions">
			<button>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.094 2.085l-1.013-.082a1.082 1.082 0 0 0-.161 0l-1.063.087C6.948 2.652 4 6.053 4 10v3.838l-.948 2.846A1 1 0 0 0 4 18h4.5c0 1.93 1.57 3.5 3.5 3.5s3.5-1.57 3.5-3.5H20a1 1 0 0 0 .889-1.495L20 13.838V10c0-3.94-2.942-7.34-6.906-7.915zM12 19.5c-.841 0-1.5-.659-1.5-1.5h3c0 .841-.659 1.5-1.5 1.5zM5.388 16l.561-1.684A1.03 1.03 0 0 0 6 14v-4c0-2.959 2.211-5.509 5.08-5.923l.921-.074.868.068C15.794 4.497 18 7.046 18 10v4c0 .107.018.214.052.316l.56 1.684H5.388z"/></svg>
			</button>
			<button>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 21c4.411 0 8-3.589 8-8 0-3.35-2.072-6.221-5-7.411v2.223A6 6 0 0 1 18 13c0 3.309-2.691 6-6 6s-6-2.691-6-6a5.999 5.999 0 0 1 3-5.188V5.589C6.072 6.779 4 9.65 4 13c0 4.411 3.589 8 8 8z"/><path d="M11 2h2v10h-2z"/></svg>
			</button>
		</div>
	</aside>
	
	<header class="menu-wrap">
		<figure class="user">
			
			<figcaption>
				QUICK FOOD 
			</figcaption>
		</figure>
	
		<nav>
			<section class="dicover">
				<h3></h3>
				
				<ul>
					<li>
						<a href="#">
						
						</a>
					</li>
					
					<li>
						<a href="#">
							
						</a>
					</li>
					
					<li>
						<a href="#">
							
						</a>
					</li>
					
					<li>
						<a href="#">
							
						</a>
					</li>
				</ul>
			</section>
			
		</nav>
	</header>
	
	<main class="content-wrap">
<div class="container">
    <h2>Add Product</h2>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-body">           
                <form [formGroup]="productForm" (ngSubmit)="saveProduct()" >
                    <h3>Add new Product</h3>
                    <label> ProductCategory:
                        <select id="productcategory"  formControlName="productcategory" name="productcategory">
                            <option value="Pizza">Pizza</option>
                            <option value="Burger">Burger</option>
                            <option value="Biryani">Biryani</option>
                            <option value="Roti">Roti</option>
                          </select>
                    
                         </label>
                    <label> ProductName:
                    <input type="text"  formControlName="productname" [pattern]="namepattern"><br>
                    <div style="color:red;" *ngIf="productForm.controls['productname'].touched && productForm.controls['productname'].invalid">
                    <span *ngIf="productForm.controls['productname'].hasError('required')">product name is required</span>       
                    </div>
                     </label>
                    
                         <label> Price:
                            <input type="text" formControlName="price"><br>
                            <div style="color:red;" *ngIf="productForm.controls['price'].touched && productForm.controls['price'].invalid">
                                <span *ngIf="productForm.controls['price'].hasError('required')">Price  details mandatory.</span>       
                                </div>
                             </label>
                             <label> List indicator:
                                <select id="listind"  formControlName="listind" name="listind">
                                    <option value="yes" selected>yes</option>
                                    <option value="no">no</option>
                                  </select>
                             <!--   <input type="text"  formControlName="listind"><br>-->
                                 </label>
                                 <button type="submit" class="btn btn-secondary">Add Products
                        <div style="color:red;" *ngIf="productForm.controls['productname'].touched && productForm.controls['productname'].invalid">
                            <span *ngIf="productForm.controls['productname'].hasError('required')">ProductName is required</span> 
                            
                        </div>
                    </button>
                </form>
                
        </div>

      </div>
      <div class="panel panel-default">
        
        <div class="panel-body">          
            
               <!-- <button  (click)="getProductDetails()">Load Product Details</button>-->
                <br>
                <table border="4" >
                   <h3>Product details</h3>
                    <tr>
                       
                        <th>ProductName</th>
                        <th>ProductCategory</th>
                        <th>Price</th>
                        <th>ListInd</th>
                       
                        </tr>
                <tr *ngFor=" let d of product">
                   
                    <td>{{d.productname}}</td>
                    <td>{{d.productcategory}}</td>
                    <td>{{d.price}}</td>
                    <td>{{d.listind}}</td>
                    <th><button type="button"(click)="deleteProduct(d)">Delete</button></th>
                    <th><button type="button"(click)="editProductDetails(d)">Edit</button></th>
                </tr>
                </table>
                
                <div>
                <form [formGroup]="updateproductForm" class="form1" (ngSubmit)="updateProductDetailsForm()"  *ngIf="editProduct">
                    <h3>Update {{editProduct.productcategory}} Product Details</h3>
                    <label> ProductName:
                    <input type="text"  formControlName="productname" [pattern]="namepattern"  [(ngModel)]="editProduct.productname"><br>
                    <div style="color:red;" *ngIf="productForm.controls['productname'].touched && productForm.controls['productname'].invalid">
                    <span *ngIf="productForm.controls['productname'].hasError('required')">product name is required</span>       
                    </div>
                     </label>
                     <label> ProductCategory:
                        <input type="text" formControlName="productcategory" [(ngModel)]="editProduct.productcategory"><br>
                         </label>
                         <label> Price:
                            <input type="text" formControlName="price" [(ngModel)]="editProduct.price"><br>
                             </label>
                             <label> List indicator:
                                <input type="text"  formControlName="listind" [(ngModel)]="editProduct.listind"><br>
                                 </label>
                                 <label> id:
                                    <input type="text"  formControlName="id" [(ngModel)]="editProduct.id"><br>
                                     </label>
                     <button type="submit">Product Update
                        <div style="color:red;" *ngIf="productForm.controls['productname'].touched && productForm.controls['productname'].invalid">
                            <span *ngIf="productForm.controls['productname'].hasError('required')">ProductName is required</span> 
                            
                        </div>
                    </button>
                    
                </form>
                </div>

        </div>
      </div>
    
    </div>
  </div>
  

	</main>
</div>

